GLFW_ICON ICON "pong.ico"

1 VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  //VALUE "CompanyName", "Kenner Hartman"
      VALUE "FileDescription", "pong in cpp (github.com/kennerhartman/pong-cpp)"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "pong by Kenner Hartman"
      VALUE "LegalCopyright", "Copyright (c) 2023 Kenner Hartman"
      //VALUE "OriginalFilename", "raylib_app.exe"
      VALUE "ProductName", "pong by Kenner Hartman"
      VALUE "ProductVersion", "0.1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
